.manage-products{
    margin-top: 30px;
    padding: 0px 30px;
    height: 100vh;
}

.manage-products-container{
    padding: 20px 0px;
    border-radius: 20px;
    background-color: white;
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.manage-products-input{
    /* width: "150px" !important */
    outline: none;
    padding: 5px;
    border: none;
    border-bottom: 0.5px solid gray;
    width: 60%;
}

.manage-products-labels{
    /* width: "150px" !important; */
    font-size: 18px;
    width: 100px;
    padding: 5px;

}

.manage-card-container{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .manage-card-container{
       flex-direction: column;
       align-items: flex-start;
       margin: 0px 20px;
    }  
    .manage-products-input{
        width: 100%;
    }
    .manage-products-labels{
        /* width: "150px" !important; */
        font-size: 18px;
        width: 200px;
    }
    .manage-products-container{
        margin-bottom: 20px !important;
    }
    .product-avatar{
        width: 100% !important;
    }
    .modalStyle > * , .modalStyle > div > p {
        font-size: 15px !important;
    }
    .modalStyle{
        margin: 0px 3px;
    }
}


.btn-1{
    border: 1px solid red;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    transition: 0.3s;
    font-size: 22px;
    width: 100px;
}

.btn-1:hover{
    color: red;
    background-color: white;
}

.btn-2:hover{

    color: rgb(29, 193, 40);
    background-color: white;
}

.btn-2{
    border: 1px solid  rgb(29, 193, 40);
    background-color: rgb(29, 193, 40);
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    transition: 0.3s;
    font-size: 22px;
    min-width: 100px;
}

.deleteProductModal{
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    width: 100%;
    border: 3px solid gray;
    border-radius: 10px;
    padding: 10px;
    border-style: dashed;
    margin-top: 10px;
}

.margin{
    margin-top: 60px !important;
}

.deleteProductModal > p {
    font-size: 20px;
    margin-top: 10px;
}