.animateRight {
  animation: animateRight 0.5s alternate;
}
.animateLeft {
  animation: animateLeft 0.5s alternate;
}

.splash{
  background-color: white;
}
@keyframes animateLeft {
  to {
    transform: translateX(0px);
  }
  from {
    transform: translateX(-130px);
  }
}
@keyframes animateRight {
  to {
    transform: translateX(0px);
  }
  from {
    transform: translateX(130px);
  }
}
