.campaign {
    margin: 0 !important;
}

/* ClusterCard CSS */
.cluster-card {
    height: 270px;
    width: 320px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.cluster-card:hover {
    background-color: #F25839;
    color: white;
}

.cluster-text {
    flex: 0.5;
}

.cluster-card:hover .cluster-link {
    background-color: white !important;
    color: rgb(29, 193, 40) !important;
}

.cluster-images {
    flex: 0.5;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.avatar-2 {
    margin-left: 60px;
}

 .avatar-3 {
    margin-left: 120px;
}

.avatar-4 {
    margin-left: 180px;
}  


/* Cluster Page CSS */

.cluster-page {
    min-height: 100vh;
}

.cluster-page-card {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 30px 100px !important;
    height: fit-content;
}

.customer-name {
    background-color: white;
    color: #F25839;
    transition: 0.3s;
    border-radius: 20px;
    /* border: 1px solid #F25839 */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

}

.customer-name:hover {
    background-color: #F25839;
    color: white;
}

.customer-list {
    overflow-y: scroll;
    height: 400px;
}

.cluster-customer-list {
    flex: 0.5
}

.cluster-page-header {
    flex: 0.5
}

.cluster-page-buttons>.btn-1 {
    border: 1px solid red;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    transition: 0.3s;
    font-size: 22px;
    min-width: 250px;
}

.cluster-page-buttons>.btn-1:hover {
    color: red;
    background-color: white;
}

.cluster-page-buttons>.btn-2:hover {

    color: rgb(29, 193, 40);
    background-color: white;
}

.cluster-page-buttons>.btn-2 {
    border: 1px solid rgb(29, 193, 40);
    background-color: rgb(29, 193, 40);
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    transition: 0.3s;
    font-size: 22px;
    min-width: 250px;
}

.clusterPageCard{
    display: flex;
}

.email-draft{
    display: flex;
    flex-direction: column;
    border: 0.5px dashed gray;
    padding: 10px;
    border-radius: 5px;
}

.email-draft > input , .email-draft > textarea {
    border: 0.5px solid gray;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    padding: 5px 10px; 
}

.email-draft > label {
    margin: 10px 0px;
    color: gray;
    font-weight: 600;
    line-height: 20px;
    font-family: 'Roboto Mono', monospace;
}


.email-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: #FAFAFA;
    margin: 10px 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.subject-container{
    display: flex;
    justify-content: flex-start;
}

.subject-container > label {
    font-weight: 600;
}
.subject-container > p {
    text-decoration: underline;
    font-family: 'Roboto Mono', monospace;
}
.body-container{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
}

.body-container > p {
    font-family: 'Roboto Mono', monospace;
}

.edit-button{
    padding: 5px;
    border: 1px solid #4D94EC;
    background-color: #4D94EC;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
    margin-left: 5px;
}

.edit-button2{
    border: 1px solid #4D94EC;
    background-color: #4D94EC;
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    transition: 0.3s;
    font-size: 22px;
}

.edit-button:hover , .edit-button2:hover{
    background-color: white;
    color: #4D94EC;
}

@media only screen and (max-width: 800px) {
    .clusterPageCard {
        flex-direction: column !important;
    }
}