.mainUI {
  width: 100%;
  background-color: #FAFAFA;
  /* background-image: url("../../Images/sampleBack5.png");
  background-position: center;
  background-repeat: space;
  background-size: cover; */
  /* background-image: url("../../Images/sampleBack.PNG"); */

}

.sidebar-hidden {
  margin-left: -360px;
  opacity: 0;
  transition: 0.4s;
}

.sidebar-show {
  opacity: 1;
  margin-left: 0;
}

.main-container {
  display: flex;
}

.main-sidebar {
  position: absolute;
  z-index: 100;
}

.main-page {
  transition: 0.3s;
  flex: 1;
}

.main-page-contact {
  transition: 0.3s;
  flex: 1;
}
.blur {
  /* filter: brightness(0.5); */
  opacity: 0.2;
  pointer-events: none;
}

.mainPad{
  padding-top: 60px;
}

.selectedChoice{
  background-color: #F5793B !important;
  color: white !important;
}

.container-team{
  flex-wrap: wrap;
  height: fit-content;
}

.team-list >  li{
margin: 5px 0px;
text-decoration: none;
list-style: none;
font-size: 16px;
color: #279BE4;
border-radius: 10px;
}



.team-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  font-size: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s;
  width: 100%;
  margin: 0px 20%;
  margin-bottom: 20px;
}


.team-list:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
