.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: max-content;
  color: gray;
  transition: 0.3s;
  overflow-y: hidden;
  background-color: white;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 50px;
}
.nav-menubtn {
  color: grey;
  transition: 0.3s;
}

.nav-menubtn:hover {
  color: #02397c;
}

.navmenu-btn {
  transition: 0.3s;
}
.navmenu-btn:hover {
  transform: rotate(180deg);
}

.navbar-avatar {
  height: 40px;
}
.smallIcon {
  animation: round 3s linear infinite;
}
@keyframes round {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}
.navbar-name {
  margin-top: 2px;
}
.nav-menubtn {
  cursor: pointer;
}
.navbar-search {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 12px;
  padding: 3px;
}

.navbar-searchbox {
  outline: none;
  border: none;
  padding: 5px;
  font-size: 16px;
  background-color: whitesmoke;
}
