.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: max-content;
  color: gray;
  transition: 0.3s;
  background-color: white;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    /* box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; */
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
      position: fixed;
  z-index: 99;
  width: -webkit-fill-available;
  height: 55px;
  border-radius: 10px;
}
.nav-menubtn {
  color: grey;
  transition: 0.3s;
}

.nav-menubtn:hover {
  color: #F6833C;
}

.navmenu-btn {
  transition: 0.3s;
}
.navmenu-btn:hover {
  transform: rotate(180deg);
}

.navbar-avatar {
  height: 40px;
}
.smallIcon {
  animation: round 3s linear infinite;
}
@keyframes round {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}
.navbar-name {
  margin-top: 2px;
}
.nav-menubtn {
  cursor: pointer;
}
.navbar-search {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 12px;
  padding: 3px;
  width: 450px;
}

.navbar-searchbox {
  outline: none !important;
  border: none !important;
  padding: 5px !important;
  font-size: 16px !important;
  background-color: whitesmoke !important;
  height: 40px !important;
}

.MuiOutlinedInput-root ,.MuiInputBase-root, .MuiInputBase-colorPrimary .MuiInputBase-fullWidth, .MuiInputBase-formControl, .MuiInputBase-adornedEnd, .MuiAutocomplete-inputRoot, .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  height: 40px !important;
  outline: none !important;
  border: none !important;
  margin-bottom: 3px !important;
}

.MuiOutlinedInput-notchedOutline, .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: none !important;
  outline: none !important;
  margin-bottom: 3px !important;

}

.MuiOutlinedInput-input, .MuiInputBase-input, .MuiInputBase-inputAdornedEnd, .MuiAutocomplete-input, .MuiAutocomplete-inputFocused, .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 0px !important;
  margin: 0px !important;
}



.MuiSelect-icon{

}
.MuiSelect-iconOutlined{
  display: none !important;
}
