.infobox {
  height: 220px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.3s;
  color: grey;
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: white;
  background-position-y: bottom;
  border: 0.5px solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.infobox:hover {
  background-color: #ffffff;
  transform: translateY(-10px);
  cursor: pointer;
  color: grey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.infobox-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.infobox-header > p {
  /* font-family: "Bebas Neue", cursive;
  font-weight: 400; */
}
.infobox-text {
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
