.account {
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    margin: 20px 50px;
    min-height: 100vh;
    min-width: 360px;
}

.account-card{
    border-radius: 20px;
    background-color: white;
    width: fit-content;
    padding: 20px;
    width: 100%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.account-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* .account-box{
    display: flex;
    flex-wrap: wrap;
} */

.account-text{
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    /* flex: 0.5; */
}

.account-text > label {
    font-size: 22px;
}

.account-inputs {
    margin: 20px 0px;
    font-size: 22px;
    padding: 0px 10px;
}

.account-button:hover{
color: #FFFFE0 !important;
cursor: pointer;
background-color: #F5793B !important;
border: 1px solid transparent !important;

}

.account-image{
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;
    font-size: 20px;
    position: relative;
    align-items: center;
}

.account-image > p {
    z-index: 100;
    color: white;
    backdrop-filter: invert(.4);
    padding: 0px 15px;
    cursor: pointer;
    display: none;
    border-radius: 10px;
    position: absolute;
}
.account-image:hover > p {
    display: block;
}

.account-avatar {
    cursor: pointer;
}


