.productlist{
    border-radius: 15px;
    background-color: white;
    width: 100%;
    height: 500px;
    color: grey;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    letter-spacing: 1px;
}

.productlist-items{
    overflow-y: scroll;
    height: 80%;
}
.productItem{
background-color: white;
padding: 8px 15px;
border-radius: 20px;
min-height: 80px;
display: flex;
align-items: center;
transition: all 0.3s;
box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
cursor: pointer;}

.productItem:hover{
    color: white;
    background-color: #F25839;
}

.productlist-items::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}
.productlist-items::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .productlist-items::-webkit-scrollbar-thumb {
    background-color: #e78632;
    background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);
    border-radius: 10px;
  }

