.login{
    background-color: white;
    box-sizing: border-box;
    display: flex;
    height: max-content;
    background-size: cover;
    height: 100vh;
}

.login-box{
    outline: none;
    background-color: white;
    display: flex;
    min-width: 350px;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 100vh;
    flex: 0.4;
}

.login-box > input {
    margin: 20px 0px;
    padding: 5px 15px;
    min-width: 350px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    text-align: left;
}

.login-box > p {
    text-align: left;
}

.login-box > img, .forgot-box > img {
    width: 200px;
}
.login-link {
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 5px;
    transition: all 0.2s;
    color: #FADA5F;
    color:   #2D2D2D;
    text-decoration: none;
    background-color: white;
    border: 1px solid #F3623A;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
}

.login-link:hover {
color: #FFFFE0;
border: 1px solid transparent;
cursor: pointer;
/* background-image: linear-gradient(to right,#F04D41,#F5793B,#FAA640); */
background-color: #F5793B;
background-color: #F3623A;
}

.login-link p , .login-link span{
    transition: 0.4s;
    margin: 0;
}

.login-link{
    color: #F04D41
}

.login-link span{
    opacity: 0;
}

.login-link:hover span {
    transform: translateX(60px);
    opacity: 1;
}

.background{
    padding-top: 20px;
    text-align: center;
    background-position-x: left;
    height: 100vh;
    flex: 0.6;
    background-color: #F15238;
    background-image: linear-gradient(to left,#F15238,#F5793B,#FAA640);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background > p {
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

.background > img {
    width: 360px;
}


@media only screen and (max-width: 939px) {
    .background{
        display: none
    }
    .login-box{
        flex: 1;
    }
}

.login-input{
    margin: 20px 0px;
    border-radius: 10px;
    padding: 10px;
    min-width: 340px;
    display: flex;
    background-color: whitesmoke;
}

.login-input > input{
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 5px ;
    font-size: 18px;
    width: 100%;
    background-color: whitesmoke;
}


.forgot-link{
    text-decoration: none;
    color: gray;
    font-size: 15px;
}

.forgot-container{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.forgot-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 350px;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    align-items: center;
}

.forgot-box > input{
    padding: 10px 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: left;
    background-color: whitesmoke;
}

.forgot-box > button {
    width: 100%;
}

.forgot-box > label {
    cursor: pointer;
}