* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bor {
  border: 1px solid black;
}
.app {
  width: 100%;
  background-color: #FAFAFA;
}
*::-webkit-scrollbar{
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  /* background-color: rgba(0, 0, 0, 0.4); */
  background-color: whitesmoke;
}
*::-webkit-scrollbar-thumb {
  background-color: #e78632;
  border-radius: 10px;
}